* {
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;

  background-color: rebeccapurple;
}

svg {
  min-width: 24px;

  fill: aliceblue;

  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
}

/* Body Layout */

.sustube {
  max-height: 100vh;
  width: 100%;

  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 50px 80px 1fr;

  overflow: hidden;

  background-color: midnightblue;
}

/* Search Nav */

.searchNav {
  max-height: 100px;

  grid-column: 1/-1;
  grid-row: 1/1;

  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #000000;
}

.searchNav > div {
  margin: 10px;
}

.searchBar {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.searchBar > div {
  margin: 5px;
}

.user {
  min-width: 30px;
  min-height: 30px;

  background-color: blueviolet;

  border-radius: 50px;
}

.homeIcon {
  max-height: 100px;
  max-width: 100px;
  min-width: 100px;
}

.homeIcon > .homeIconSVG {
  min-height: 100%;
  min-width: 100%;
}

/* Search Box */

.searchBox {
  min-width: 450px;
  min-height: 30px;

  height: 100%;

  display: grid;
  grid-template-columns: 1fr 50px;

  background-color: hsl(0, 0%, 18.82%);
  border: 2.5px solid hsl(0, 0%, 18.82%);
  border-radius: 50px 0px 0px 50px;
}

textarea:focus,
input:focus {
  outline: none;
}

.searchText {
  border-radius: 50px 0px 0px 50px;
  background-color: #000000;
  color: aliceblue;

  vertical-align: middle;

  position: absolute;

  display: flex;
  flex-direction: column;
  
}

.searchText > input {
  min-height: 25px;
  min-width: 445px;

  border-radius: 50px 0px 0px 50px;
  border: 0px;
  background-color: #000000;
  color: aliceblue;
}

.searchButton {
  max-height: 30px;
  max-width: 30px;

  position: relative;
}

#inputSuggestions {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: fixed;
  top: 50px;

  width: 100%;
}

#inputSuggestions > div {
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#inputSuggestions > .searchBar > div {
  margin: 0px;
}

.resultSpaceOccupier {
  min-width: 10%;
  max-height: 0px;
}

.resultBox {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  min-width: 500px;
  min-height: 30px;
  width: 40%;
  height: 100%;

  margin-right: 100px;
  margin-left: 10px;

  background-color: hsl(0, 0%, 18.82%);
  color: aliceblue;
  border: 2px solid hsl(0, 0%, 18.82%);
  border-radius: 10px;
}

.resultBox > div {
  margin-right: 10%;
}

.resultList {
  display: grid;
  grid-template-columns: 0fr 1fr;
}

.resultList > .resultIcon {
  width: 25px;
  margin: 5px;
}

.resultList > .resultText {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.inputSuggestionHidden {
  visibility: hidden;
}

/* Library */

.libraryNav {
  grid-column: 1/1;
  grid-row: 2/-1;

  display: flex;
  flex-direction: column;

  overflow: scroll;

  background-color: #000000;
}

.library {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 10px;
  margin-top: 30px;

  color: whitesmoke;
}

.library > svg {
  max-width: 34px;
  max-height: 34px;
}

.library > div {
  margin-top: 5px;
}

/* Suggestions */

.suggestionNav {
  grid-column: 2/-1;
  grid-row: 2/2;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: scroll;
  flex-wrap: wrap;

  background-color: #000000;
}

.suggestionNav::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.suggestion {
  text-align: center;
  text-justify: auto;

  min-height: 30px;
  resize: none;

  margin: 15px;
  padding: 10px;
  padding-bottom: 0px;
  border-radius: 10px;

  background-color: #383535;
  color: aliceblue;
}

/* Videos */

.videoBoxController {
  display: grid;
  grid-template-rows: 70px 1fr;

  overflow: scroll;
  background-color: #000000;
}

.videoController {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 50px;
  color: white;
  font-size: 30px;
}

.videoController > button {
  margin: 10px;
  margin-left: 30px;
  margin-right: 30px;

  background-color: #383535;
  border: 0px;
  height: 40px;
  width: 200px;
  border-radius: 10px;

  font-size: 20px;
  color: aliceblue;
}

.videoBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  overflow: scroll;

  background-color: #000000;
}

.video {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  max-width: 350px;

  margin: 2%;
  margin-top: 1%;

  color: white;
  background-color: black;

  text-overflow: ellipsis;

  border-radius: 15px;
}

.video > img {
  width: 350px;
  border-radius: 10px;

  background-color: transparent;
}

.videoDetails {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  display: grid;
  grid-template-rows: 23px 23px 23px;
  grid-template-columns: 1fr;
}

.videoTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  display: grid;
  grid-template-columns: 50px 1fr;

  margin-top: 10px;

  font-size: 20px;
}

.videoText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  font-weight: 800;
}

.videoIcon {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: aquamarine;
}

.videoLoading{
  background-color: #000000;
  color: white;

}


.suggestionItems{
  background-color: #383535;
  padding: 5px;
  padding-left: 10px;
}



/* loading gif css */
@keyframes ldio-79onc5rioyd {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-79onc5rioyd div { box-sizing: border-box!important }
.ldio-79onc5rioyd > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #85a2b6 transparent #85a2b6 transparent;
  animation: ldio-79onc5rioyd 1s linear infinite;
}

.ldio-79onc5rioyd > div:nth-child(2), .ldio-79onc5rioyd > div:nth-child(4) {
  width: 108px;
  height: 108px;
  top: 46px;
  left: 46px;
  animation: ldio-79onc5rioyd 1s linear infinite reverse;
}
.ldio-79onc5rioyd > div:nth-child(2) {
  border-color: transparent #bbcedd transparent #bbcedd
}
.ldio-79onc5rioyd > div:nth-child(3) { border-color: transparent }
.ldio-79onc5rioyd > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-79onc5rioyd > div:nth-child(3) div:before, .ldio-79onc5rioyd > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #85a2b6;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #85a2b6;
}
.ldio-79onc5rioyd > div:nth-child(3) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #85a2b6;
}

.ldio-79onc5rioyd > div:nth-child(4) { border-color: transparent; }
.ldio-79onc5rioyd > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-79onc5rioyd > div:nth-child(4) div:before, .ldio-79onc5rioyd > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 30px;
  background: #bbcedd;
  border-radius: 50%;
  box-shadow: 0 92px 0 0 #bbcedd;
}
.ldio-79onc5rioyd > div:nth-child(4) div:after {
  left: -16px;
  top: 30px;
  box-shadow: 92px 0 0 0 #bbcedd;
}
.loadingio-spinner-double-ring-zlkmeniv96 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-79onc5rioyd {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-79onc5rioyd div { box-sizing: content-box; }
/* generated by https://loading.io/ */